.aboutImage{
	width: 474px;
	position: relative;
}

.aboutInfo{
	width: calc(100% - 474px - (var(--gap) * 2));
}

.aboutInfo__content{
	max-width: 553px;
	margin: 0 auto;
}

.aboutImage_2{
	position: absolute;
	bottom: 0;
	left: -100px;
	max-width: 350px;
}

@media screen and (max-width: 1025px){
	.aboutImage_2{
		display: none;
	}
}


@media screen and (max-width: 900px){
	.aboutImage{
		width: 350px;
	}

	.aboutInfo{
		width: calc(100% - 350px - (var(--gap) * 2));
		margin: 15px;
	}

	.image_2{
		display: none;
	}
}

@media screen and (max-width: 780px){
	
	.aboutInfo__content{
		max-width: 100%;
	}

	.aboutImage, .aboutInfo{
		width: calc(100% - var(--gap));
	}

}