.aboutImage{
	width: 474px;
}

.aboutInfo{
	width: calc(100% - 474px - (var(--gap) * 2));
	/*max-width: 553px;*/
	/*margin: 10px auto 0;*/
}

.aboutInfo__content{
	max-width: 553px;
	margin: 0 auto;
}

@media screen and (max-width: 1140px){
	.aboutInfo{
	/*	margin: var(--gap) / 2;*/
	}
}

@media screen and (max-width: 900px){
	.aboutImage{
		width: 350px;
	}

	.aboutInfo{
		/*width: calc(100% - 350px - (var(--gap) * 2));*/
		width: calc(100% - 350px - (var(--gap) * 2));
		margin: 15px;
	}
}

@media screen and (max-width: 780px){
	.aboutImage, .aboutInfo{
		width: calc(100% - var(--gap));
		margin: 15px;
		
	}
}