.chooseImage{
	width: 474px;
    margin: 10px auto 0;
}

.chooseInfo{
	width: calc(100% - 474px - (var(--gap) * 2));
	max-width: 553px;
}


@media screen and (max-width: 1140px){
	.chooseInfo{
		/*margin: var(--gap) / 2;*/
	}
}

@media screen and (max-width: 900px){
	.chooseImage{
		width: 350px;
		margin: 5px auto 0;
		
	}

	.chooseInfo{
		width: calc(100% - 350px - (var(--gap) * 2));
	}
}

@media screen and (max-width: 780px){
	.chooseImage, .chooseInfo{
		width: calc(100% - var(--gap));
	}

	.chooseImage{
		order: -1;
	}
}

