.chooseImage{
	width: 474px;
    margin: 10px auto 0;
	position: relative;
}

.chooseInfo{
	width: calc(100% - 474px - (var(--gap) * 2));
	max-width: 553px;
}

.chooseImage_2{
	position: absolute;
	bottom: 0;
	right: -100px;
	max-width: 350px;
}

@media screen and (max-width: 1025px){
	.chooseImage_2{
		display: none;
	}
}

@media screen and (max-width: 900px){
	.chooseImage{
		width: 350px;
		margin: 5px auto 0;
	}

	.chooseInfo{
		width: calc(100% - 350px - (var(--gap) * 2));
	}
}

@media screen and (max-width: 780px){

	.chooseInfo, .chooseImage{
		width: calc(100% - var(--gap));
		max-width: 100%;
	}

	.chooseImage{
		order: -1;
	}
}

