.row .headerBlock{
	--gap: 10px;
}

.headerBlock{
    display: flex;
    justify-content: space-between;
    color: var(--grey-light);
}

.headerNavigation__menu{
    color: var(--grey-dark);
}

a:active {
    color: var(--green);
}

a[tabindex]:focus {
    color: var(--green);
    outline: none;
}

.hr-line {
	border: 1px solid var(--grey-light);
}

.menu-state, .menu-btn{
    display: none;
}



@media screen and (max-width: 1050px){

    .menu-btn{
        background: var(--green);
        color: aliceblue;
        padding: 10px 15px;
        cursor: pointer;
        display: inline-block;  
    }

    .headerNavigation__menu{
        display: none;
    }

    .menu-state:checked ~ .headerNavigation__menu{
        display: block;
        position: absolute; /*add*/
        width: 100%;
        background: rgba(0,0,0,0.8);
        left: 15px;
        color: aliceblue;
        z-index: 5;
    }

    .headerNavigation__item{
        padding: 5px 10px;
        margin: 0;
        border-top: 1px solid var(--grey-light);
        transition: background-color 0.5s;
    }

    .headerNavigation__item:hover{
        background: var(--green);
    }

    .headerNavigation__item:first-child{
        border-top: none;
    }

}
