.row .headerBlock{
	--gap: 10px;
}

.headerBlock{
    display: flex;
    justify-content: space-between;
    color: var(--grey-light);
}

.headerNavigation__menu{
    color: var(--grey-dark);
}

a:active {
    color: var(--green);
}

a[tabindex]:focus {
    color: var(--green);
    outline: none;
}

.hr-line {
	border: 1px solid var(--grey-light);
}

