.teamImage{
	width: calc(100% / 12 * 4 - var(--gap)); 
}

.teamInfo .h2{
    margin-top: 20px;
}

.h3__team{
    margin-top: 10px;
    margin-bottom: 0;
}

.teamInfo__text{
    font-size: 18px;
    margin-bottom: 20px;
}

.team, .footer{
    text-align: center;
}