.workImage{
	width: calc(100% / 12 * 5 - var(--gap));
}

.workInfo{
	width: calc(100% / 12 * 7 - var(--gap));
	max-width: 553px;
	margin: 10px auto 0;
}

.h3__work{
    margin: 20px 0;
}


@media screen and (max-width: 900px){
	.workImage{
		width: 350px;
	}

	.workInfo{
		width: calc(100% - 350px - (var(--gap) * 2));
	}
}

@media screen and (max-width: 780px){

	.workImage, .workInfo{
		width: calc(100% - var(--gap));
		max-width: 100%;
	}

}